<section class="bg-square h-4/5 py-2 sm:py-12 md:h-3/5 lg:h-4/5">
  <div class="flex flex-col gap-4 px-14 py-16">
    <h1
      class="space-y-8 bg-gradient-to-r from-teal-500 via-purple-500 bg-clip-text pb-4 text-7xl font-black text-transparent md:text-8xl"
    >
      Angel Valdez
    </h1>

    <h2
      class="space-y-6 text-4xl leading-tight font-bold text-slate-100 md:text-6xl"
    >
      Full Stack Developer
    </h2>

    <p class="text-2xl leading-snug font-medium text-slate-200 md:text-4xl">
      building fast, scalable,
      <br />
      interactive applications
      <br />
      with <span
        class="bg-gradient-to-r from-blue-400 to-cyan-400 bg-clip-text font-bold text-transparent"
      >
        React & TypeScript
      </span>
    </p>
  </div>
</section>
