---
import WorkTimeline from './WorkTimeline/WorkTimeline.astro';
---

<section class="p-12 text-slate-300 md:p-24">
  <h2 class="mb-8 text-center text-4xl font-bold md:mb-6 xl:mb-16">My Work</h2>
  <div class="flex flex-col justify-center gap-8 lg:flex-row lg:gap-24">
    <div class="flex flex-col gap-4 text-justify md:pt-6 lg:max-w-lg">
      <p>
        Passionate Fullstack Developer with 4 years of experience, adept at
        solving problems and highly focused on details. I thrive on adapting to
        new challenges and am enthusiastic about projects involving graphical
        visualization and data handling.
      </p>
      <p>
        My primary expertise lies within the React ecosystem, including
        extensive work with TypeScript, Next.js, Tailwind CSS and more.
      </p>
      <p>
        I've had the opportunity to work on a wide range of projects, including
        complex web applications, dashboard development, support development in
        a rigid UX environment, SAAS web app and more.
      </p>
      <p>
        When I'm not coding I like doing exercise and going climbing on the
        weekend (I built my own climbing wall at home btw). And recently I got
        into miniature painting.
      </p>
      <p>
        I'm currently open to new opportunities and collaborations. If you like
        what you see, let's connect and see how we can bring our projects to
        life!
      </p>
    </div>
    <WorkTimeline />
  </div>
</section>
